/*
-------------------------Seletores--------------------------
* {
    border: 1px solid red;
}
h1 {
    color: green;
}
#cabeçalho {
    border: 1px solid blue;
}
li>a {
    color: red;
    text-decoration: none;
}
p a {
    color: green;
}

----------------Herança e especificidade------------------ */
/*
#pagina p{
    color: blue !important;
}
#pagina p{
    color: red;
}
* {
    color: red;
}
h2 {/*3
    color: blue;
}
h2.verde {/*2
    color: green;
}
h2#amarelo {/*1
    color: yellow;
}

---------------------------Navegação vertical--------------------*/
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding: 5px 20px;
    background: url(../imagens/seta.png) no-repeat left center;
}
*/
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul a {
    /*border: 1px solid red;*/
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 50px;
    line-height: 40px;
    background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}

a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}
#home .home a {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}