header {
    border: 1px solid red;
    background: #f2f2f2;
    padding: 10px;
}

nav {
    border: 1px solid lightblue;
    margin-top: 10px;
}

article {
    background: orangered;
    padding: 10px;
}

section {
    border: 1px dotted #fff;
}

aside {
    background: blue;
}
footer {
    background: #ccc;
    margin-top: 10px;
}